*{
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 768px) {
    .navbar{
        display: none;
    }
}
.logo{
    font-size: 35px;
    color: white;
    font-weight: 700;
}
.navbar{
    background-color: #191825;
    height: 100vh;
    border-right: 1px solid #ffa3fd14;
    width: 290px;
    padding: 50px 40px;
    height: 100vh;
    box-sizing: border-box;
    position:sticky;
    top: 0px;
}
.navbar .verticalmenu{
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.navbar .verticalmenu li{
    padding-top: 8px;
    padding-bottom: 8px;
    height: 27.200px;
}
.navbar .verticalmenu li i{
    margin-right: 20px;
}
.navbar .verticalmenu li a{
    font-weight: 700;
    font-size: 16px;
    color: white;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f9f9ff;

}
.inicio{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #191825;
    justify-content: space-evenly;
    align-items: center;
}
.inicio .down{
    position: absolute;
    bottom: 20px;
}
.inicioContenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.inicioContenedor img{
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}
.inicioContenedor h1{
    font-size: 36px;
    margin-bottom: 0.5rem;
}
.inicioContenedor ul{
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
}
.inicioContenedor li{
    margin: 0 0.75rem;
}
.inicioContenedor .btn{
    margin-top: 1.5rem;
    padding: 10px 12px;
    background-color: #865DFF;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 50px;
}
.btn{
    padding: 10px 12px;
    background-color: #EEEEEE;
    color: #222831;
    font-weight: 700;
    font-size: 16px;
    border-radius: 50px;
}
.fila{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.sobreMi{
    padding-top: 110px;
}
.contenedor{
    margin-left: 75px;
    margin-right: 75px;
    padding: 0px 15px;
    margin-bottom: 150px;
}
.contenedor h2{
    font-size: 36px;
    color: #222831;
    margin-bottom: 60px;
    margin-left: 14px;
}
.fila .imgSobreMi{
    width: 25%;
}
.fila .imgSobreMi img{
    width: 55%;
    border-radius: 100px;
}
.fila .dialogSobreMi{
    background-color: white;
    width: 75%;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}
.fila .parrafoSobreMi{
    width: 50%; 
    padding: 0px 15px;
}
.fila .habilidades{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 15px;
    justify-content: space-between;
}
.habilidades h4{
    font-size: 16px;
    font-weight: 500;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    color: white;
    margin: 0px 15px;
}
.card img{
    margin-bottom: 22px;
}
.card h3{
    margin-bottom: 16px;
    font-size: 20px;
}
